<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <center><title>Thermostat</title>

<link rel="stylesheet" type="text/css" href="stylesheets/index.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>


</head>



<body>
<h1>Thermostat</h1>
<p><span id="temp"></span> °C </p>


  <p>
  <button type="button" id="up-button">U</button>
  <button type="button" id="down-button">D</button>
  </p>
  <button type="button" id="reset">Reset</button>
  </p>
  <p id="powersave">
  Power Save: <input type="checkbox" id="power-save">
  </p>
</body>

<div>
  The weather in <span id="city"> <%= @city %> </span> is <span id="cityweather"></span>&#8451;
</div>
<br>

  <div>
    Please enter your city to receive current weather:&nbsp;&nbsp;&nbsp;
    <form action='/city'>
      <input type="text" id="cityinput" name="cityinput">
      <input type="button" id="citysubmit" value="Submit">
    </form>
  </div>

  <span id="location">
  </span>

  <span id="currentcityweather">
  </span>

  <script src="javascripts/location.js"></script>
  <script src="javascripts/weather.js"></script>
  <script src="javascripts/Thermostat.js"></script>
  <script src="javascripts/app.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
</center>
</html>
